<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="icon" type="image" sizes="16x16" href="./w.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    body{
       background-image: url('/image/background.png');
       background-repeat: no-repeat;
       background-size: cover;
    }
</style>
</head>
<body>
    <div style="position: relative;">
        <div style="position:absolute ;"> 
            <img src="/image/webx.png" style="position: absolute; margin-left: 1460px;" width="60" height="60">
    <form method="post" action="/search"> 
         
        <div class="input-group mb-3" style=" margin-top: 200px; margin-left: 425px;">
            <span class="input-group-text" id="basic-addon1"><img src="/image/webx.png" width="25" height="25"></span>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" id="search" name="title">
            <button type="button" class="btn btn-success" id="button">Lets Go</button>
          </div>
      </form >
      </div>
     <a href="https://www.facebook.com/"> <img src="/image/facebok2.png" width="50px" height="50px"style=" margin-top: 300px; margin-left: 450px; background: linear-gradient(161.75deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
      mix-blend-mode: normal;
      filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.25));
      border-radius: 58px 52px 52px 52px;"></a>
      
      <a href="https://www.amazon.in/ref=nav_logo"><img src="/image/amazon.png"width="50px" height="50px"style=" margin-top: 300px; margin-left: 80px; background: linear-gradient(161.75deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
      mix-blend-mode: normal;
      filter: drop-shadow(13px 13px 15px rgba(0, 0, 0, 0.25));
      border-radius: 58px 52px 52px 52px;"></a>
      
      <a href="https://www.apple.com/"><img src="/image/apple.png" width="50px" height="50px"style=" margin-top: 300px; margin-left: 80px; background: linear-gradient(161.75deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
      mix-blend-mode: normal;
      filter: drop-shadow(13px 13px 15px rgba(0, 0, 0, 0.25));
      border-radius: 58px 52px 52px 52px;"></a>
      
      <a href="https://www.netflix.com/in/"><img src="/image/netflix.png" width="65px" height="65px"style=" margin-top: 300px; margin-left: 80px; background: linear-gradient(161.75deg, #C4C4C4 30%, rgba(196, 196, 196, 0) 100%);
      mix-blend-mode: normal;
      filter: drop-shadow(13px 13px 15px rgba(0, 0, 0, 0.25));
      border-radius: 50px 50px 50px 50px;"></a>
      
      <a href="https://www.google.com/"><img src="/image/google.png" width="50px" height="50px"style=" margin-top: 300px; margin-left: 90px; background: linear-gradient(161.75deg, #C4C4C4 30%, rgba(196, 196, 196, 0) 100%);
      mix-blend-mode: normal;
      filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.25));
      border-radius: 50px 50px 50px 50px; "></a>
       
            <div style="position: absolute; margin-left: 360px;">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/rqqkvjqf.json"
                trigger="loop"
                colors="primary:#121331,secondary:#08a88a"
                stroke="49"
                scale="20"
                axis-x="48"
                style="width:250px;height:250px">
            </lord-icon>
            <h5 style="position: absolute;">End-To-End Authorization</h5>
            </div>

               <div style="position: absolute; margin-left: 650px;">
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
            <lord-icon
              src="https://cdn.lordicon.com/wcjauznf.json"
               trigger="loop"
               colors="primary:#121331,secondary:#08a88a"
                scale="20"
                style="width:250px;height:250px">
                </lord-icon>
                <h5 style="position: absolute;margin-left: 10px;">Secure Cloud Storage</h5>
                </div>

                <div style="position: absolute; margin-left: 1000px;">
                  <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
                  <lord-icon
                      src="https://cdn.lordicon.com/tyounuzx.json"
                      trigger="loop"
                      colors="primary:#121331,secondary:#08a88a"
                      scale="20"
                      axis-x="18"
                      style="width:250px;height:250px">
                  </lord-icon>
                    <h5 style="position: absolute;">Security</h5>
                </div>
            
            
            
            
            
            
            
            <script>

        let q=document.getElementById('search');
        let b=document.getElementById('button');

          b.onclick=function(){
          let url='https://www.google.com/search?q='+q.value;
          window.open(url,'_self');
        }
      </script>
  
                  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>